body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(1920x1080-Rick-and-Morty-Wallpaper.png);
  background-repeat: no-repeat;
  background-size: cover ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width : 900px) {
  body{
    background-image: url(1920x1080-Rick-and-Morty-Wallpaper.png);
    background-size: auto  ;
    max-height: 100vh;
  }
  }